

.custom-menu-buttom .arrow {
    -fx-background-color: white; /* Cambia el color de la flecha del menu button */
}

.chart-bar{
    -fx-background-color:  #01a5e7;
    -fx-background-radius: 5px 5px 0px 0px;
}


.chart-bar {
    -fx-background-color: #01a5e7; /* Color de las barras del gráfico */
    -fx-background-radius: 5px 5px 0px 0px; /* Bordes redondos */
    -fx-bar-width: 10px; /* Ancho base */

}

.chart-bar:hover {
    -fx-scale-x: 1.05; /* Cambia el ancho */
    -fx-scale-y: 1.05; /* Cambia la altura */
}


.chart-content {
    -fx-background-color: white; /* Propiedad que cambia el color de fondo del gráfico */
}

.chart-plot-background {
    -fx-background-color: transparent; /* Elimina fondo gris del chart */
}

.botonPrueba{
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.botonPrueba:hover{
    -fx-background-color: grey;
    -fx-border-color: grey;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}


.listView{
    -fx-font-size: 14px;
}

.estilo-monitor image{
    -fx-alignment: center;
}


.botonMapa{
    -fx-background-color: transparent;
}

.botonMapa:hover{
    -fx-background-color: rgba(0, 0, 0, 0.24);
}



