.custom-menu-buttom .arrow {
    -fx-background-color: white; /* Cambia el color de la flecha del menu button */
    -fx-text-fill: white;
}

.chart-bar{
    -fx-background-color:  #01a5e7;
    -fx-background-radius: 5px 5px 0px 0px;
}

.chart-bar {
    -fx-background-color: #01a5e7; /* Color de las barras del gráfico */
    -fx-background-radius: 5px 5px 0px 0px; /* Bordes redondos */
    -fx-bar-width: 10px; /* Ancho base */

}

.chart-bar:hover {
    -fx-scale-x: 1.05; /* Cambia el ancho */
    -fx-scale-y: 1.05; /* Cambia la altura */
}

.chart-content {
    -fx-background-color: white; /* Propiedad que cambia el color de fondo del gráfico */
}

.chart-plot-background {
    -fx-background-color: transparent; /* Elimina fondo gris del chart */
}

.botonPrueba {
    -fx-background-color: #01a5e7;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 1);
    -fx-transition: all 0.3s ease-in-out;
}

.botonPrueba:hover {
    -fx-background-color: #33a5ed;
    -fx-border-width: 1px;
    -fx-text-fill: #ecf0f1;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0.3, 0, 2);
}

.listView{
    -fx-font-size: 14px;
}

.estilo-monitor image{
    -fx-alignment: center;
}

.botonAgregarEquipo{
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-radius:  5px;
}

.botonAgregarEquipo:hover{
    -fx-background-color: #e0e0e0;
    -fx-border-color: grey;
    -fx-border-radius:  5px;
}

.tableViewErrores {
    -fx-background-color: white;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 8;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 2);
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
}

.tableViewErrores .column-header-background {
    -fx-background-color: #01a5e7;
    -fx-background-radius: 8 8 0 0;
}

.tableViewErrores .column-header, .table-view .filler {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.tableViewErrores .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.tableViewErrores .table-row-cell:filled:selected {
    -fx-background-color: #c5cae9;
}

.tableViewErrores .table-row-cell:filled:hover {
    -fx-background-color: #e8eaf6;
}

.tableViewErrores .table-row-cell:hover {
    -fx-background-color: #e8eaf6; /* azul clarito */
}

.tablaIps {
    -fx-background-color: white;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 8;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 2);
    -fx-padding: 10;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
}

.tablaIps .column-header-background {
    -fx-background-color: #01a5e7;
    -fx-background-radius: 8 8 0 0;
}

.tablaIps .column-header, .table-view .filler {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.tablaIps .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.tablaIps .table-row-cell:filled:selected {
    -fx-background-color: #c5cae9;
}

.tablaIps .table-row-cell:filled:hover {
    -fx-background-color: #e8eaf6;
}

.tablaIps .table-row-cell:hover {
    -fx-background-color: #e8eaf6; /* azul clarito */
}

.circle-button {
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-cursor: hand;
}

.circle-button:hover {
    -fx-background-color: rgba(100, 149, 237, 0.3); /* color circular transparente */
    -fx-background-radius: 50%; /* redondear fondo */
}

.circle-button:pressed {
    -fx-background-color: rgba(100, 149, 237, 0.6);
}